@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/button/button.css);
@import url(./blocks/popup/popup.css);

body {
  margin: 0;
}

.page-wrapper {
  max-width: 100%;
  background-color: #fff;
}
